# Excluir archivos de configuración locales
.env
.env.local
.env.*.local

# Excluir directorios de Node.js
node_modules
npm-debug.log

# Excluir archivos y directorios de construcción
build/
dist/
*.log
*.pid
*.seed
*.pid.lock

# Excluir archivos de respaldo y temporales
*.swp
*~
